name: Continuous Deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Stop existing containers
        run: docker compose down -v
        continue-on-error: true

      - name: Deploy application
        run: docker compose up -d --build
