name: Continuous Deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    defaults:
      run:
        shell: bash
        working-directory: ${{ github.workspace }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Stop existing containers
        run: docker compose down -v || true

      - name: Deploy application
        run: docker compose up -d --build
