name: Continuous Deployment

on:
  # push: 
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Check Docker Compose version
        run: |
          docker-compose --version || docker compose version

      - name: Deploy to VM
        run: |
          docker compose down -v
          docker compose up -d --build
