name: Continuous Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Stop containers
        run: docker compose down -v
        continue-on-error: true

      - name: Start services
        run: docker compose up -d --build
